* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Allerta', sans-serif;
}

.flag-icon {
  width: 100px;
}

.footer-info {
  padding: 50px 78px;
}

.desc-para {
  font-size: 18px;
  padding-bottom: 2%;
  line-height: 1.5;
}

.container {
  padding: 2% 4%;
}
